%section.section.is-medium.has-light-background#services
  .container
    .columns.is-vcentered
      .column.has-text-centered
        %h1.title.is-2
          Servicios de alta calidad
        %h2.subtitle
          Conoce nuestros servicios de fletes y mudanzas
        %br
    .columns.is-multiline
      .column
        %a{:href => "/es/services/1"}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/moving-truck.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Fletes y Mudanzas
      .column
        %a{:href => ""}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/boxes.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Almacemiento
      .column
        %a{:href => ""}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/packing.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Empaques
      .column
        %a{:href => ""}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/pulley.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Volado de muebles
      .column
        %a{:href => ""}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/crane.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Transporte de autos sin rodar
      .column
        %a{:href => ""}
          .card.shadow.card-height
            .level
              .level-item
                =image_tag("icons/moving.svg", border: 0, class: 'customer-item', alt: "#{t('.company_name')}")
            .card-content
              .media-content
                %p.service-title.is-4 Servicios especiales
