%section.hero.is-info.is-fullheight#services
  .hero-head
    %nav.navbar
      .container
  .hero-body
    .container.has-text-centered
      .columns.is-multiline.has-text-centered
        .column.is-3
          =image_tag("icons/moving-truck.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Seguridad y protección a funcionarios
        .column.is-3
          =image_tag("icons/moving.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Seguridad en el traslado de bienes a bordo y en seguimiento
        .column.is-3
          =image_tag("icons/moving-loop.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Guardias intramuros
        .column.is-3
          =image_tag("icons/box.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Seguridad y protección a funcionarios
        .column.is-3
          =image_tag("icons/house.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Seguridad en el traslado de bienes a bordo y en seguimiento
        .column.is-3
          =image_tag("icons/box-package.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Guardias intramuros
        .column.is-3
          =image_tag("icons/moving-people.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Guardias intramuros
        .column.is-3
          =image_tag("icons/trolley-logistic.png", border: 0, class: 'service-icon', alt: "#{t('.company_name')}")
          %h2.subtitle.service-item Guardias intramuros
