%section.hero.is-medium.has-carousel
  .hero-carousel.carousel.carousel-animated.carousel-animate-slide{"data-autoplay" => "true"}
    .carousel-container
      .carousel-item.has-background.is-active
        =image_tag("01.jpg", alt: "#{t('.company_name')}", class: "is-background")
      .carousel-item.has-background
        =image_tag("02.jpg", alt: "#{t('.company_name')}", class: "is-background")
      .carousel-item.has-background
        =image_tag("03.jpg", alt: "#{t('.company_name')}", class: "is-background")
    .carousel-navigation.is-overlay
      .carousel-nav-left
        %i.fa.fa-chevron-left{"aria-hidden" => "true"}
      .carousel-nav-right
        %i.fa.fa-chevron-right{"aria-hidden" => "true"}
  .hero-body.has-text-centered
    %section.section.is-hero
      .container
        .columns.is-vcentered
          .column.is-6
            .section-header
              %h1.title.is-spaced.bg-header.animated.fadeInDown
                = t('.title')
                %span
                %h2.subtitle.is-focused
                  = t('.subtitle')
              %br
              %a.button.is-medium.main-button{:href => "/"}= t('.more')
= render :partial => 'about'
= render :partial => 'services'
= render :partial => 'coverage'
= render :partial => 'quotation'
= render :partial => 'customers'
-# = render :partial => 'newsletter'
-# = render :partial => 'articles'
