%header
  %nav#navbar.navbar.is-fixed-top.has-shadow
    .container
      .navbar-brand
        %a.navbar-item{:href => "/"}
          =image_tag("autotransportes_balderas.png", border: 0, class: 'logo-brand', alt: "#{t('.company_name')}")
        #navbarBurger.navbar-burger.burger{"data-target" => "navMenuIndex"}
          %span
          %span
          %span
      %hr.separator
        %span.rol Fletes y Mudanzas
      #navMenuIndex.navbar-menu
        .navbar-end
          - if controller_name.eql?("episodes")
            %a.navbar-item.link{:href => "/"}= t('.home')
            %a.navbar-item.link{:href => "/#about"}= t('.about')
            %a.navbar-item.link{:href => "/#services"}= t('.services')
            %a.navbar-item.link{:href => "/#coverage"}= t('.coverage')
            %a.navbar-item.link.contact-modal-button{"aria-haspopup" => "true", "data-target" => "modal-ter"}= t('.contact')
          - else
            %a.navbar-item.link{:href => "#home"}= t('.home')
            %a.navbar-item.link{:href => "#about"}= t('.about')
            %a.navbar-item.link{:href => "#services"}= t('.services')
            %a.navbar-item.link{:href => "#coverage"}= t('.coverage')
            %a.navbar-item.link.contact-modal-button{"aria-haspopup" => "true", "data-target" => "modal-ter"}= t('.contact')
